<h1>Editando la alimentacion de tu bebe</h1>

<%= render 'form', breastfeeding: @breastfeeding %>

<%= link_to 'Show', baby_breastfeeding_path(@baby, @breastfeeding) %> |
<%= link_to 'Back', baby_breastfeedings_path(@baby) %>