
  <strong>Fecha:</strong>
  <%= @breastfeeding.date %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @breastfeeding.quantity %>
</p>

<p>
  <strong>Duracion:</strong>
  <%= @breastfeeding.length %>
</p>

<p>
  <strong>Id del bebe:</strong>
  <%= @breastfeeding.baby_id %>
</p>